	.dropdown {
		position: relative;
		display: inline-block;
    }	
   .dropdown-content {
		display: none;
		position: absolute;
		background-color: #f1f1f1;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}

	.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}

	.dropdown-content a:hover {background-color: #ddd;}

	.dropdown:hover .dropdown-content {display: block;}

	.dropdown:hover .dropbtn {background-color: #3e8e41;}
	
	a:visited { 
		text-decoration: none; 
		color: black; 
	}
	

	.nav tr {
    align-self:  center;
}

	.nav tr:nth-of-type(even) {
    background-color: lightgrey;
}

	.nav td {
    padding: 4px;
	text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

	div {
    text-align:center;
}

	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button {  

    opacity: 1;

}
	.hidden{
	display: none;
}